<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon"/>
    <title>Выберите страницу</title>
        <link rel="stylesheet" type="text/css" href="{{main_style2}}"/>
    <link rel="stylesheet" type="text/css" href="{{button_style2}}"/>


</head>
<body>
<br/>
<br/>
<br/>
    <button class="turquoise" onclick = "document.location.href = '/profile/{{curr_user_id}}'">Мой профиль</button>
    <br/>
    <button class="turquoise" onclick = "document.location.href = '/people'">Найти людей</button>
    <br/>
    <button class="turquoise" onclick = "document.location.href = '/'">Выйти</button>

</body>
</html>