<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="{{main_style}}"/>
    <link rel="stylesheet" type="text/css" href="{{text_style}}"/>
    <link rel="stylesheet" type="text/css" href="{{an_style}}"/>
    <link rel="stylesheet" type="text/css" href="{{checkbox_style}}"/>
    <link rel="stylesheet" type="text/css" href="{{radio_checkbox_style}}"/>
    <link rel="stylesheet" type="text/css" href="{{button_style2}}"/>


    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
        <h1 align="center">Вход</h1>
        <div>
            <form class="login_form" method="post">
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Введите адрес почты" name="email">
                <input type="password" class="form-control" id="password" placeholder="Введите пароль" name="password">

                <button type="submit" class="turquoise">Войти</button>
            </form>
        </div>
</body>
</html>