<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мой профиль</title>
    <link rel="stylesheet" type="text/css" href="{{main_style}}"/>
    <link rel="stylesheet" type="text/css" href="{{text_style}}"/>
    <link rel="stylesheet" type="text/css" href="{{an_style}}"/>
    <link rel="stylesheet" type="text/css" href="{{checkbox_style}}"/>
    <link rel="stylesheet" type="text/css" href="{{radio_checkbox_style}}"/>
    <link rel="stylesheet" type="text/css" href="{{button_style2}}"/>
    <link rel="stylesheet" type="text/css" href="{{ph_style}}"/>
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon"/>
</head>
<body>
        <p><img class="img" align="left" src='static/img/profile_img.png'></p>

</body>
</html>