<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Мой профиль</title>
    <link rel="stylesheet" type="text/css" href="{{main_style}}"/>
    <link rel="stylesheet" type="text/css" href="{{text_style2}}"/>
    <link rel="stylesheet" type="text/css" href="{{checkbox_style}}"/>
    <link rel="stylesheet" type="text/css" href="{{radio_checkbox_style}}"/>
    <link rel="stylesheet" type="text/css" href="{{button_style2}}"/>
    <link rel="stylesheet" type="text/css" href="{{ph_style}}"/>
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon"/>
</head>
<body>
        <H1>фамилия имя</H1>
    <div>
        <font style="font-family:Lobster, cursive; Font-size:30px;" color="c55763" >емейл</font>
        <br/>
        <font style="font-family:Lobster, cursive; Font-size:30px;" color="c55763">возраст: ..., пол: ...</font>
        <br/>
        <font style="font-family:Lobster, cursive; Font-size:30px;" color="c55763">доп. информация</font>
        <br/>
        <font style="font-family:Lobster, cursive; Font-size:30px;" color="c55763">список интересов</font>
        <button class="turquoise" onclick = "document.location.href = '/changing_profile'">Изменить профиль</button>

</div>

</body>
</html>