<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" href="{{main_style}}"/>
    <link rel="stylesheet" type="text/css" href="{{text_style2}}"/>
    <link rel="stylesheet" type="text/css" href="{{an_style}}"/>
    <link rel="stylesheet" type="text/css" href="{{checkbox_style}}"/>
    <link rel="stylesheet" type="text/css" href="{{radio_checkbox_style}}"/>
    <link rel="stylesheet" type="text/css" href="{{button_style2}}"/>


    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
        <h1 align="center">Форма для регистрации</h1>
        <div>
            <form class="login_form" method="post">
                <input type="text" class="form-control" id="text" aria-describedby="emailHelp" placeholder="Введите фамилию и имя" name="name">
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Введите адрес почты" name="email">
                <input type="password" class="form-control" id="password" placeholder="Введите пароль" name="password">
                <input class="form-control" id="age" aria-describedby="emailHelp" placeholder="Введите Ваш возраст" name="age"><br/>
                <div class="form-group">
                    <label for="about" class="my_text">Немного о себе</label>
                    <textarea class="form-control" id="about" rows="3" name="about"></textarea>
                </div>
                <div class="form-group">
                    <br/>
                </div>
                <div class="container">
                    <label class="my_text">Укажите пол</label>
                    <div class="container">
                      <input class="form-check-input" type="radio" name="gender" id="male" value="male" checked>
                      <label class="form-check-label" for="male">
                        Мужской
                      </label>
                    </div>
                    <div class="container">
                      <input class="form-check-input" type="radio" name="gender" id="female" value="female">
                      <label class="form-check-label" for="female">
                        Женский
                      </label>
                    </div>
                </div>
                    <div class="checkbox">
                        <input type="checkbox" class="form-check-input" id="interest3" name="video_editing">
                        <label class="form-check-label" for="interest3">Видеомонтаж</label>

                        <input type="checkbox" class="form-check-input" id="interest5" name="design">
                        <label class="form-check-label" for="interest5">Дизайн</label>

                        <input type="checkbox" class="form-check-input" id="interest7" name="animals">
                        <label class="form-check-label" for="interest7">Животные</label>

                        <input type="checkbox" class="form-check-input" id="interest8" name="playing_musical_instruments">
                        <label class="form-check-label" for="interest8">Игра на музыкальных инструментах</label>

                        <input type="checkbox" class="form-check-input" id="interest9" name="games_on_computers_and_consoles">
                        <label class="form-check-label" for="interest9">Игры на компьютерах и приставках</label>

                        <input type="checkbox" class="form-check-input" id="interest10" name="foreign_languages">
                        <label class="form-check-label" for="interest10">Иностранные языки</label>

                        <input type="checkbox" class="form-check-input" id="interest11" name="collecting">
                        <label class="form-check-label" for="interest11">Коллекционирование</label>

                        <input type="checkbox" class="form-check-input" id="interest12" name="modeling">
                        <label class="form-check-label" for="interest12">Моделирование</label>

                        <input type="checkbox" class="form-check-input" id="interest13" name="singing">
                        <label class="form-check-label" for="interest13">Пение</label>

                        <input type="checkbox" class="form-check-input" id="interest14" name="programming">
                        <label class="form-check-label" for="interest14">Программирование</label>

                        <input type="checkbox" class="form-check-input" id="interest15" name="drawing">
                        <label class="form-check-label" for="interest15">Рисование</label>

                        <input type="checkbox" class="form-check-input" id="interest17" name="sport">
                        <label class="form-check-label" for="interest17">Спорт</label>
                     </div><br/>
                    <label for="photo" class="my_text">Приложите фотографию</label>
                    <input type="file" class="form-control-file" id="photo" name="file">


                <button type="submit" class="turquoise">Зарегистрироваться</button>
            </form>
        </div>
</body>
</html>