<!DOCTYPE html>
<html lang="en">
 <head>
     <meta charset="UTF-8">
 	 <title>Добро пожаловать!</title>
     <link rel="stylesheet" type="text/css" href="{{main_style}}"/>
     <link rel="stylesheet" type="text/css" href="{{style}}"/>
     <link rel="stylesheet" type="text/css" href="{{button_style}}"/>
     <link rel="stylesheet" type="text/css" href="{{text_style}}"/>
     <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon"/>
 </head>
 <body>
    <button class="turquoise" name="login" onclick = "document.location.href = '/login'">Войти</button>
    <button class="turquoise" name="register" onclick = "document.location.href = '/register'">Зарегистрироваться</button>
    <h1>Здесь вы можете найти собеседника по интересам</h1>
    <div class="post-item">
        <div class="post-item-wrap">
            <a href="/register" class="post-link">
            <h3 class="post-title">Топ интересов зарегистрировавшихся пользователей</h3>
            <h3 class="post-title">/зарегистрируйтесь, чтобы посмотреть/</h3>
                <p class="post-content">
                    {% for el in top %}
                    {{el[0]}} {{el[1]}} <br>
                    {% endfor %}
                </p>
            </a>
        </div>
    </div>
    <p><img align="right" src='static/img/popug.gif'></p>
 </body>
</html>
