<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{hobby_name}}</title>
        <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" type="text/css" href="{{main_style}}"/>
            <link rel="stylesheet" type="text/css" href="{{act_table_style}}"/>
    <link rel="stylesheet" type="text/css" href="{{text_style}}"/>

</head>
<body>
        <H1>{{hobby_name}}</H1>

    <table class="table">
  <tr>
    <th>Пользователи с этим интересом</th>
    </tr>
  {% for el in users %}
  <tr>
    <td onclick = "document.location.href = '/profile/{{el.id}}'">{{el.name}}</td>
    </tr>
  {% endfor %}

  </table>
</body>
</html>

